body
{
    font-family: Calibri;
}

p
{
  color: black;
}
.name
{
  border: 2px solid black;
  padding: 7px;
  text-align: center;
}
.address
{
  text-align: center;
}
.education
{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.education-text
{

}
.china
{
    width: 250px;
}
.work
{
  /*text-align: center;*/
}
.indier
{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width 100%;
}
.kayaking
{
    width:250px;
    float: right;
}
.breck
{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    /*width: 100%;*/
}
.bsp
{
    width: 250px;
    float: right;
}
.line
{
  width: 100%;
  height: 2px;
  background-color: black;
  margin: auto;
}
body
{
  padding: 100px
}
.resume
{
  width: 700px;
  margin: auto;
}
